/*font-family ?
  font-style
  font-weight
  font-size
  line-height
    other (a, )
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* Pages */

.main_header {
  background-color: #ffffff;
  color: #000000;
}

.navigation_link {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  background-color: inherit;
  color: inherit;
}

.main_index {
  color: #000000;
  background-color: #ffffff; /*Which color is better?*/
  background-image: url("/images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

/* Lists */

.advantages_list,  .recommendations_list{
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.advantages_item, .recommendations_item {
  text-align: center;
}

.advantages_title, .recommendations_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.advantages_description, .recommendations_description {
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}
