@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.container {
  background-color: #FFFFFF;
}

.main_header {}

.navigation_list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
}


.navigation_link {
  text-decoration: none;
  color: #000000;
}

.navigation_user_list {
  list-style-type: none;
}

.navigation_user_link {
  text-decoration: none;
}

.navigation_user_favorite {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
}

.navigation_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.hero {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.advantages_text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages_list {
  list-style-type: none;
}

.advantages_item {
  text-align: center;
}

.advantages_subtitle {
  text-transform: uppercase;
}

.blue_square {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.light_gray_square {
  background-color: #83B3D31F;
}

.dark_gray_square {
  background-color: #83B3D333;
}

.white_square {
  background-color: #FFFFFF;
}

.light_gray_square .advantages_desc,
.dark_gray_square .advantages_desc,
.light_gray_square .recommendations_desc,
.dark_gray_square .recommendations_desc,
.white_square .recommendations_desc {
  color: #333333;
}

.recommendations_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.recommendations_text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.recommendations_list {
  list-style-type: none;
}

.recommendations_item {
  text-align: center;
}

.recommendations_subtitle {
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.search_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
}

.search_text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search_link {
  text-decoration: none;
}

.search_button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.subscribe {
  background-image: url("../images/index/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;

}

.subscribe_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe_text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.social_list {
  list-style-type: none;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
}

.contacts_link {
  text-decoration: none;
  color: #000000;
}
